~*
.#*
.DS_Store
.env*

build/
node_modules/
package-lock.json
typings/
coverage/
.ts-node/
/tmp
tmp.*

/.bundle
.ruby-version
.ruby-gemset
.ropeproject

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.next

selectorgadget/
notes.md
notes.org
todo.org
