body.terminal-iframe {
  display: block;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: #000;
  line-height: 16px;

  #terminal-resizer {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: ns-resize;
    display: block;
    color: white;
    border: 1px;
  }

  .close-window {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
    color: white;
    border: 1px;
  }

  #terminal-app {
    color: #3AF540;
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    font-size: 14px;

    .prompt-wrapper {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      
      .prompt-info {
        color: #9af;
        padding: 0;
        margin: 0;
        margin-right: 3px;
      }

      .prompt {
        /* float: left; */
        margin: 0;
        margin-right: 8px;
        padding: 0;
      }

      textarea {
        overflow: hidden;
        width: 95%;
        background-color: transparent;
        border-width: 0;
        resize: none;
        outline: none;
        color: #3AF540;
        font-family: "Courier New", Courier, monospace;
        /* float: left; */
        font-size: 14px;
        padding: 0;
        height: 17px;
      }
    }

    .output {
      max-height: 85%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        display: flex;
        flex-direction: row;
        line-height: 16px;

        a {
          color: #7ff218;
        }

        &.output {
          color: white;
        }

        &.error {
          color: #E73E33;
          font-style: oblique;
        }

        &.input {
          color: #3AF540;
        }
      }
    }

    .history-preview {
      color: #888888;
    }


    .bs-section {
      font-weight: bold;
    }
    .bs-subsection {
      font-style: italic;
    }
    .bs-col {
      min-width: 9%;
      margin-right: 10px;
    }


    .bs-match {
      color: #69f;
      text-decoration: underline;
    }

    .bs-keyword {
      color: #fc4933;
    }

    .bs-alias {
      color: #fe8019;
      font-style: oblique;
    }

    .bs-usage {
      padding-left: 20px;
    }

    .bs-type {
      color: #d3869b;
      font-style: oblique;
    }

    .bs-constant {
      color: #d3869b;
    }

    .bs-variable {
      color: #7fa1a0;
    }

    .bs-function {
      color: #ffad20;
    }

    .bs-operator {
      color: #fa6a4a;
    }

    .bs-escape {
      color: #bf9ff0;
    }

    .bs-argument {
      color: #78c;
    }

    .bs-doc {
      color: #c9c059;
    }

    .bs-string {
      color: #b8bb26;
    }

    .bs-property-use {
      color: #f0c580;
    }

    .bs-variable-use {
      color: #ecd098;
      font-style: oblique;
    }
  }
}
