body.terminal-iframe {
  display: block;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: #000;
  line-height: 16px;

  #terminal-resizer {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: ns-resize;
    display: block;
    color: white;
    border: 1px;
  }

  .close-window {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
    color: white;
    border: 1px;
  }

  #terminal-app {
    color: #3AF540;
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    font-size: 14px;

    .prompt-wrapper {
      overflow: hidden;

      .prompt {
        float: left;
        margin: 0;
        margin-right: 8px;
        padding: 0;
      }

      textarea {
        overflow: hidden;
        width: 95%;
        background-color: transparent;
        border-width: 0;
        resize: none;
        outline: none;
        color: #3AF540;
        font-family: "Courier New", Courier, monospace;
        float: left;
        font-size: 14px;
        padding: 0;
        height: 17px;
      }
    }

    .output {
      max-height: 85%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        line-height: 16px;

        a {
          color: #7ff218;
        }

        &.output {
          color: white;
        }

        &.error {
          color: #E73E33;
        }

        &.input {
          color: #3AF540;
        }
      }
    }

    .history-preview {
      color: #888888;
    }
  }
}
